@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

    &::before,
    *::after {
        @extend *;
    }
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 15, 15);
    backdrop-filter: blur(8px);
    background-image: url("./assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    cursor: pointer;
    object-fit: cover;
}

ul,
li {
    list-style-type: none;
    margin: 0;
}

a {
    color: unset;
    font: inherit;
    text-decoration: none;
    text-decoration-skip-ink: none;

    &:visited,
    &:active {
        @extend a;
    }
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

// Navigation
.navigation-list {
    position: absolute;
    top: 0;
    color: white;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 5em;
    background-color: #010101;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.15);
}

// Launch Game
.ui-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 20px;
    overflow: hidden;

    .ui-options {
        grid-column: span 1;
        background-color: white;
        padding-block: 2rem;
        padding-inline: 1rem;

        .options-heading {
            text-transform: uppercase;
            color: #3c3c3c;
            font-weight: 600;
            font-size: 14px;
            padding-inline: 0.8rem;
        }

        .options-list {
            color: black;
            font-weight: 600;
            font-size: 14px;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            justify-content: flex-start;
            align-items: flex-start;

            li {
                cursor: pointer;
                width: 100%;
                padding: 0.4rem 0.8rem;
                border-radius: 4px;
                transition: background-color 200ms linear;
                display: flex;
                align-items: center;
                gap: 0.5em;

                &:hover {
                    background-color: #f1f1f1;
                    transition: background-color 100ms linear;
                }

                &.active {
                    background-color: #f1f1f1;
                }
            }
        }
    }

    .ui-display {
        grid-column: 2 / span 3;
        background-image: url("./assets/metal-texture-with-screws.png"),
            linear-gradient(121.11deg, #151515 0.54%, #000000 100%);
        backdrop-filter: blur(12.5px);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 2rem;
        display: flex;
        position: relative;

        .display-container {
            width: 100%;
            min-height: 400px;
            isolation: isolate;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .cards {
                position: absolute;
                margin-inline: auto;

                @for $i from 0 through 3 {
                    &:nth-of-type(#{$i + 1}) {
                        z-index: #{$i * -1};
                        transform: translate(calc(45px + (-30px * #{$i})))
                            translateY(calc(25px * #{$i}));

                        @if $i != 0 {
                            .image-container {
                                filter: blur(2px);
                                background-color: rgba(27, 27, 27, 0.2);
                            }
                        }
                    }
                }

                .image-container {
                    display: block;
                    aspect-ratio: 27/25;
                    width: 300px;
                    border-radius: 20px;
                    overflow: hidden;
                    border: 1px solid hsl(0, 0%, 50%, 0.2);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    &.bg-container {
                        background-image: url("./assets/sci-girl.png");
                    }

                    &.last-container {
                        border: 1px solid hsl(0, 0%, 50%, 0.05);
                    }
                }
            }
        }

        .content-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;
            color: white;
            align-self: flex-end;
            position: absolute;
            right: 2rem;
            left: 2rem;
            padding-block: 0.25rem;

            .content-heading {
                font-size: 2rem;
                font-weight: 700;
            }

            .content-info {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .info {
                    max-width: 30ch;
                }

                .btn {
                    width: max-content;
                    padding-inline: 1em;
                    padding-block: 0.5em;
                    font-size: 1rem;
                    font-weight: 600;
                    border-radius: 2rem;
                }
            }
        }
    }
}

// Multiple Edition, 1/1 NFT
.multiple-edition,
.create-nft {
    .ui-container {
        border: 1px solid hsl(0, 0%, 50%, 0.15);
    }

    .ui-display {
        grid-column: 2 / span 3;
        background: url("./assets/multiple-edition-bg.png"),
            linear-gradient(121.11deg, #151515 0.54%, #000000 100%);
        backdrop-filter: blur(12.5px);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.25rem;

        .cards-container {
            display: block;
            position: relative;
            width: 12rem;
            aspect-ratio: 5/7;

            @for $i from -2 through 2 {
                &:nth-of-type(1) {
                    .cards:nth-of-type(#{$i + 3}) {
                        transform-origin: center;
                        animation: card-animation-#{$i +
                            3}
                            2s
                            cubic-bezier(0.05, 0.43, 0.25, 0.95)
                            infinite;
                    }
                }

                @keyframes card-animation-#{$i + 3} {
                    0% {
                        transform: rotate(0);
                    }
                    40% {
                        transform: rotate(calc(4.25deg * #{$i}));
                    }
                    50% {
                        transform: rotate(calc(4.25deg * #{$i}));
                    }
                    90% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(0);
                    }
                }
            }

            .cards {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                backdrop-filter: blur(8px);
                border-radius: 10px;
                position: absolute;
                overflow: hidden;
                border: 1px solid hsl(0, 0%, 50%, 0.5);
                transform: none;
                transition: transform 750ms cubic-bezier(0.05, 0.43, 0.25, 0.95);

                @for $i from 1 through 7 {
                    &:nth-of-type(#{$i + 1}) {
                        z-index: -#{$i};
                    }
                }

                .image-container {
                    display: grid;
                    place-content: center;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 15.2rem;
                        aspect-ratio: 5/7;
                    }
                }
            }
        }

        .content-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;
            color: white;
            align-self: flex-end;
            position: static;
            padding-block: 0.25rem;

            .content-heading {
                font-size: 2rem;
                font-weight: 700;
            }

            .content-info {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .info {
                    max-width: 30ch;
                }

                .btn {
                    width: max-content;
                    padding-inline: 1em;
                    padding-block: 0.5em;
                    font-size: 1rem;
                    font-weight: 600;
                    border-radius: 2rem;
                }
            }
        }
    }
}

.create-nft {
    .ui-display {
        background: url("./assets/nft-art.png");
        background-position: center -5px;
        background-size: 105% 105%;
        background-repeat: no-repeat;
    }
    .cards-container {
        background: linear-gradient(
            150.94deg,
            hsl(0, 0%, 0%, 0.75) 3.32%,
            rgba(0, 0, 0, 0) 98.95%
        );
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(8px);
        border-radius: 10px;
        border: 1px solid hsl(0, 0%, 50%, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid white;
            width: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
        }

        &::before {
            transform: translate(-50%) rotate(90deg);
        }
    }
}

.collection {
    .ui-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-radius: 20px;
        overflow: hidden;

        .ui-options {
            grid-column: span 1;
            background-color: white;
            padding-block: 2rem;
            padding-inline: 1rem;

            .options-heading {
                text-transform: uppercase;
                color: #3c3c3c;
                font-weight: 600;
                font-size: 14px;
                padding-inline: 0.8rem;
            }

            .options-list {
                color: black;
                font-weight: 600;
                font-size: 14px;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                justify-content: flex-start;
                align-items: flex-start;

                li {
                    cursor: pointer;
                    width: 100%;
                    padding: 0.4rem 0.8rem;
                    border-radius: 4px;
                    transition: background-color 200ms linear;
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    &:hover {
                        background-color: #f1f1f1;
                        transition: background-color 100ms linear;
                    }

                    &.active {
                        background-color: #f1f1f1;
                    }
                }
            }
        }

        .ui-display {
            grid-column: 2 / span 3;
            background-image: linear-gradient(
                121.11deg,
                #151515 0.54%,
                #000000 100%
            );
            backdrop-filter: blur(12.5px);
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 0;
            display: flex;
            position: relative;

            .display-container {
                width: 100%;
                max-width: 555px;
                z-index: -2;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                transform: translateY(2rem);

                .display-images-container {
                    display: flex;
                    gap: 1rem;
                    animation: train-animation 10s linear infinite alternate;

                    &:nth-of-type(odd) {
                        transform: translateX(-83px);
                        animation-direction: alternate-reverse;
                    }

                    .image-box {
                        display: grid;
                        place-content: center;
                        aspect-ratio: 1;
                        width: 148px;
                        border: 1px solid hsl(0, 0%, 50%, 0.5);
                        border-radius: 20px;
                        overflow: hidden;

                        img {
                            width: 148px;
                            aspect-ratio: 1;
                        }
                    }
                }

                @keyframes train-animation {
                    from {
                        transform: translateX(-500px);
                    }
                    to {
                        transform: translateX(0);
                    }
                }
            }

            .gradient-container {
                position: absolute;
                inset: 0;
                width: 100%;
                z-index: -1;
                background: linear-gradient(
                    179.8deg,
                    rgba(21, 21, 21, 0) 0.21%,
                    #000000 91.91%
                );
            }

            &:has(.gradient-container:hover) {
                .display-images-container {
                    animation-play-state: paused;
                }
            }

            .content-container {
                z-index: 0;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: flex-start;
                color: white;
                align-self: flex-end;
                position: absolute;
                right: 2rem;
                left: 2rem;
                bottom: 2rem;
                padding-block: 0.25rem;

                .content-heading {
                    font-size: 2rem;
                    font-weight: 700;
                }

                .content-info {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                    .info {
                        max-width: 30ch;
                    }

                    .btn {
                        width: max-content;
                        padding-inline: 1em;
                        padding-block: 0.5em;
                        font-size: 1rem;
                        font-weight: 600;
                        border-radius: 2rem;
                    }
                }
            }
        }
    }
}

// Claimer Page
.claimer-page {
    height: calc(100vh - 53px);
    width: 100%;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 2fr 3fr;

    .content {
        background-color: white;
        padding: 2rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        color: black;

        .heading-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;

            .content-heading {
                font-size: 2rem;
            }

            .wallet-address-display {
                display: flex;
                align-items: center;
                gap: 0.3rem;

                .icon-container {
                    aspect-ratio: 1;
                    width: 30px;
                }

                .address {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

        .content-description {
            color: #909090;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            line-clamp: 8;
            -webkit-box-orient: vertical;
        }

        .show-all-btn {
            font-weight: 600;
            background-color: transparent;
            text-transform: uppercase;
        }

        .claimer-description-container {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            width: 100%;

            .claimer-heading {
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 700;
                width: 100%;
                border-bottom: 1px solid hsl(0, 0%, 0%, 0.25);
                padding-bottom: 0.5rem;
            }

            .claimer-description {
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-bottom: 1px solid hsl(0, 0%, 0%, 0.25);
                padding-bottom: 1.5rem;

                .claimer-description-group {
                    display: flex;
                    flex-direction: column;
                    gap: 0.35rem;
                    align-items: flex-start;
                    text-transform: uppercase;

                    .label {
                        color: #3e3e3e;
                        font-size: 11px;
                    }

                    .value {
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }

        .claim-nft-btn {
            display: grid;
            place-content: center;
            padding-inline: 4rem;
            padding-block: 0.6rem;
            background-color: #000000;
            color: #ffffff;
            font-weight: 600;
            border-radius: 8px;
            margin-top: 1rem;
        }
    }

    .display {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .cannect-wallet-btn {
            position: absolute;
            background-color: white;
            color: black;
            font-weight: 600;
            padding-inline: 2rem;
            padding-block: 0.5rem;
            border-radius: 5rem;
            font-size: 17px;
            right: 2rem;
            top: 2rem;
        }

        .display-image-container {
            display: grid;
            place-content: center;

            img {
                width: 600px;
                height: 450px;
                object-fit: contain;
            }
        }
    }
}

// Deploy Contract

.deploy-contract {
    background-image: none;
    background: #030303;
    backdrop-filter: blur(10px);

    .main-content {
        margin-top: 53px;
        width: 100%;
        align-self: flex-end;
        color: white;
        padding-block: 3rem;
        padding-inline: 5rem;

        .heading-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 0.5rem;
            padding-block: 2rem;

            .page-heading {
                font-size: 3rem;
                font-weight: 700;
            }

            .page-info {
                font-size: 1.2rem;
                max-width: 35ch;
            }
        }

        .contracts-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-top: 3rem;

            .contracts-heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .heading-text {
                    font-size: 2rem;
                    font-weight: 600;
                }

                .new-contract-btn {
                    display: grid;
                    place-content: center;
                    padding-block: 0.35em;
                    padding-inline: 0.7em;
                    background-color: white;
                    color: black;
                    font-weight: 600;
                    border-radius: 5px;
                    font-size: 16px;
                }
            }

            .contracts-conatiner {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                .contract-card {
                    grid-column: span 1;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    align-items: center;
                    border-radius: 15px;
                    padding-block: 1rem;
                    background: linear-gradient(
                        150.94deg,
                        #000000 3.32%,
                        rgba(0, 0, 0, 0) 98.95%
                    );
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    backdrop-filter: blur(8px);
                    position: relative;
                    isolation: isolate;

                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        border-radius: 15px;
                    }

                    &::before {
                        inset: 0;
                        z-index: -1;
                        background: #030303;
                        backdrop-filter: blur(10px);
                    }

                    &::after {
                        inset: -1px;
                        z-index: -2;
                        background: linear-gradient(
                            150.94deg,
                            #ffffff 20%,
                            rgba(255, 255, 255, 0.35) 100%
                        );
                    }

                    .contract-info {
                        grid-column: span 1;

                        &.contract-name,
                        &.chain {
                            padding-block-end: 1rem;
                        }
                        &.type,
                        &.symbol {
                            padding-block-start: 1rem;

                            .name {
                                font-size: 18px;
                            }
                        }

                        .label {
                            font-size: 12px;
                            color: #909090;
                            font-weight: 400;
                            text-transform: uppercase;
                        }

                        .name {
                            font-weight: 300;
                        }
                    }

                    .contract-name,
                    .type {
                        padding-inline-start: 1rem;
                    }
                    .chain,
                    .symbol {
                        padding-inline-end: 1rem;
                    }

                    .contract-name {
                        font-weight: 400;
                        font-size: 1.5rem;
                    }

                    .hr {
                        grid-column: span 2;
                        width: 100%;
                        display: block;
                        border-top: 1px solid rgba(255, 255, 255, 0.35);
                    }
                }
            }
        }
    }
}

// New Contract
.new-contract {
    background-image: none;
    background: #0d0d0d;
    backdrop-filter: blur(10px);

    .main-content {
        height: calc(100vh - 53px);
        width: 100%;
        align-self: flex-end;
        color: white;
        padding: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        align-items: center;

        .content {
            grid-column: span 1;
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
            align-items: flex-start;

            .content-heading {
                font-size: 2.5rem;
                font-weight: 600;
            }

            .content-description {
                line-height: 1.35;
                font-size: 18px;
                font-weight: 400;
                max-width: 44ch;
            }

            .deploy-btn {
                margin-top: 2.5rem;
                background-color: white;
                padding: 0.5rem 1rem;
                font-weight: 600;
                font-size: 15px;
                border-radius: 2px;
            }
        }

        .contract-information-container {
            background: #030303;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            backdrop-filter: blur(8px);
            position: relative;
            isolation: isolate;
            padding: 1rem;
            height: 100%;

            &::after,
            &::before {
                content: "";
                position: absolute;
                display: block;
                border-radius: 15px;
            }

            &::before {
                inset: 0;
                z-index: -1;
                background: #030303;
                backdrop-filter: blur(10px);
            }

            &::after {
                inset: -1px;
                z-index: -2;
                background: linear-gradient(
                    150.94deg,
                    rgb(255, 255, 255, 0.7) 20%,
                    rgba(255, 255, 255, 0.35) 100%
                );
            }
            .contract-information {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                border: 1px solid rgba(255, 255, 255, 0.35);
                border-radius: 15px;

                .information-group {
                    width: 100%;
                    flex: 1;
                    background: #030303;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    backdrop-filter: blur(8px);
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    border-top: 0.5px solid rgba(255, 255, 255, 0.35);

                    &:nth-of-type(1) {
                        border-top: 0;
                        border-radius: 15px 15px 0 0;
                    }

                    &:last-of-type {
                        border-radius: 0 0 15px 15px;
                    }

                    .label {
                        font-size: 14px;
                        color: #8d8d8d;
                        font-weight: 400;
                    }

                    .name {
                        font-size: 1.25rem;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        svg {
                            width: 0.5rem;
                            fill: hsl(0, 0%, 80%, 0.35);

                            &:hover {
                                fill: white;
                                transition: fill 100ms linear;
                            }
                        }
                    }
                }
            }
        }
    }
}
