*, *::before,
* *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(15, 15, 15);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
}
@media screen and (max-width: 640px) {
  body {
    padding-block: 3rem;
    flex-direction: column;
    gap: 3rem;
  }
}
body img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
body .container {
  display: block;
  position: relative;
  width: 15rem;
  aspect-ratio: 5/7;
}
body .container:nth-of-type(1):hover .cards:nth-of-type(1) {
  transform-origin: center;
  transform: rotate(calc(4deg * -2));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(1):hover .cards:nth-of-type(2) {
  transform-origin: center;
  transform: rotate(calc(4deg * -1));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(1):hover .cards:nth-of-type(3) {
  transform-origin: center;
  transform: rotate(calc(4deg * 0));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(1):hover .cards:nth-of-type(4) {
  transform-origin: center;
  transform: rotate(calc(4deg * 1));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(1):hover .cards:nth-of-type(5) {
  transform-origin: center;
  transform: rotate(calc(4deg * 2));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(2):hover .cards:nth-of-type(2) {
  transform-origin: center;
  transform: rotate(calc(4deg * 1));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(2):hover .cards:nth-of-type(3) {
  transform-origin: center;
  transform: rotate(calc(4deg * 2));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(2):hover .cards:nth-of-type(4) {
  transform-origin: center;
  transform: rotate(calc(4deg * 3));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container:nth-of-type(2):hover .cards:nth-of-type(5) {
  transform-origin: center;
  transform: rotate(calc(4deg * 4));
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container .cards {
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.02);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
  border: 1px solid hsla(0deg, 0%, 50%, 0.5);
  transform: none;
  transition: transform 750ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container .cards:nth-of-type(2) {
  z-index: -1;
}
body .container .cards:nth-of-type(3) {
  z-index: -2;
}
body .container .cards:nth-of-type(4) {
  z-index: -3;
}
body .container .cards:nth-of-type(5) {
  z-index: -4;
}
body .container .cards:nth-of-type(6) {
  z-index: -5;
}
body .container .cards:nth-of-type(7) {
  z-index: -6;
}
body .container .cards:nth-of-type(8) {
  z-index: -7;
}
body .container .cards .image-container {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}
body .container .cards .image-container img {
  width: 15.2rem;
  aspect-ratio: 5/7;
}/*# sourceMappingURL=main.css.map */